<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head lang="en">-->
<!--<meta charset="UTF-8">-->
<!--<title></title>-->
<!--</head>-->
<!--<body>-->
<div class="main default-size page-set" ng-init="init()">
  <!--<div class="rainy-weather">-->
  <!--<div class="cloud-main"></div>-->
  <!--<div class="cloud-center"></div>-->
  <!--<div class="cloud-left"></div>-->
  <!--<div class="sun" data-stellar-ratio="0.8" data-stellar-horizontal-offset="0"></div>-->
  <!--</div>-->
  <!--<div class="planet" style="left: -650px; top: 559.5px;" data-stellar-ratio="0.57" data-stellar-horizontal-offset="0"></div>-->
  <div class="row intro page">
    <div class="side-tag rumble">BoBin Lee</div>
    <div class="intro-content">
      <p>
        불편함이 없는 세상을 만들기 위해서 웹, 앱 어플리케이션을 제작하고 개발자의 길로 가게 된 프로그래머.
        <br>
        세상엔 아직도 불편한 점들이 많은 데, 소프트웨어적으로 해결할 수 있는 반복적인 일이나 불필요한 일들을 줄이는 것을 좋아하고,
        <br>
        나를 포함한 다른 사람들에게도 편의를 주고 싶어 프로그래밍을 하게 되었다.
        <br>
        언젠간 다가올 불편함이 없는 세상이 올 때까지 개발을 임하고자 한다.
      </p>
    </div>
    <!--<div class="row col-md-12 hobby-tag">-->
    <!--<h2>취미</h2>-->
    <!--<div>-->
    <!--<div><a href="#" class="btn btn-danger">프로그래밍</a><a href="#" class="btn btn-primary">웹 (Web-->
    <!--Language(HTML, CSS, Javascript), Spring-->
    <!--Framework)</a><a href="#" class="btn btn-primary">앱 (Android)</a></div>-->
    <!--<div><a href="#" class="btn btn-danger">유용한 팁</a><a href="#" class="btn btn-primary">컴퓨터</a><a href="#"-->
    <!--class="btn btn-primary">소프트웨어</a>-->
    <!--</div>-->
    <!--<div><a href="#" class="btn btn-danger">기타</a><a href="#" class="btn btn-primary">통기타</a></div>-->
    <!--<div><a href="#" class="btn btn-danger">노래</a><a href="#" class="btn btn-primary">락, 기타, 재즈</a></div>-->
    <!--<div><a href="#" class="btn btn-danger">운동</a><a href="#" class="btn btn-primary">복근, 등, 아령</a></div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
  <div class="row resume page">
    <div class="side-tag"><span>About Me</span></div>

    <div class="tech-chart col-md-5">
      <h3>Skill</h3>
      <iframe id="tech-chart" src="/views/frame/tech_chart.html" frameborder="0" scrolling="0"
              allowtransparency></iframe>
    </div>
    <div class="resume-content col-md-7">
      <ul>
        <li><h3>Career</h3></li>
        <li><span class="profile-year">2006 - 2010</span> 숭문고등학교 졸업</li>
        <li><span class="profile-year">2010 -</span> 성공회대학교 입학</li>
        <li><span class="profile-year">2012.06 - 2014.03 </span> 국군지휘통신사령부 소프트웨어관리병</li>
        <li><span class="profile-year">2015.01 - 2015.03 </span> 데일리 호텔 인턴 근무</li>
        <li><span class="profile-year">2015.03 - </span> 성공회대학교 4학년 2학기 재학중</li>
        <li><h3>Activity</h3></li>
        <li><span class="profile-year">2014.03 - 2014.08</span> <a href="http://www.sopt.org/">대학생 연합 IT
          벤처 창업 동아리 - SOPT</a></li>
        <li><span class="profile-year">2014.07 -</span> <a href="http://teamnexters.com/">연합 IT 개발/디자인
          동아리 - Nexters</a></li>
        <!--<li><h3>License</h3></li>-->
        <!--<li><span class="profile-year"></span>정보처리산업기사</li>-->
        <!--<li><span class="profile-year"></span>컴퓨터활용 2급</li>-->
        <!--<li><span class="profile-year"></span>워드프로세서 1급</li>-->
        <!--<li><span class="profile-year"></span>ITQ엑셀 파워포인트</li>-->
        <!--<li><span class="profile-year"></span>리눅스마스터 2급</li>-->
        <li><h3>Award</h3></li>
        <li><span class="profile-year">2011.06</span> <a href="http://183.106.113.109/nocrawl/usts.php?uid=cultist">더블릿</a> 알고리즘 사이트 2위</li>
        <li><span class="profile-year">2012.06</span> 제 4회 성공회대학교 학과 홈페이지 2등</li>
        <li><span class="profile-year">2014.06</span> 제 6회 성공회대학교 경진대회관리시스템 2등</li>
        <li><span class="profile-year">2014.07</span> 대학생 연합 IT 벤처 창업 동아리 - <a
          href="http://sopt.org/wp/?p=5007">Let's Go</a> 앱잼 (최우수상)
        </li>
        <!--<li><span class="profile-year">2014.9</span> 넥스터즈 동아리 - 인테리어 하우스앱</li>-->
        <li><span class="profile-year">2014.10</span> 제5회 IT경진대회 성공회 알리미앱 금상</li>
        <li><span class="profile-year">2014.12</span> 입학 상담 앱 공로상</li>
      </ul>
    </div>
  </div>
  <div class="row portfolio page">
    <div class="side-tag"><span>Portfolio</span></div>

    <div class="portfolio-header">
      <ul>
        <li ng-repeat="content in contents"><a ng-class="{'selected': $index==selectedIndex}"
                                               ng-click="setContent($index)">{{
          content.name }}</a></li>
      </ul>
    </div>
    <div class="portfolio-content" ng-include src="content.url">
    </div>
  </div>
  <div class="row contact page">
    <div class="side-tag"><span>Contacts</span></div>

    <div class="contact-content col-md-7">
      <a href="mailto:cultist_tp@naver.com">
        <img src="images/main/mail_img.svg" height="60px"/>
      </a>
      <a href="https://www.facebook.com/bobin.lee.9"><img src="images/main/facebook.png"/></a>
      <a href="https://kr.linkedin.com/pub/보빈-이/a5/613/35/"><img src="images/main/linkin.png"/></a>
      <a href="http://cultist-tp.tistory.com"><img src="images/main/tistory.png"/></a>
    </div>

    <!-- github-card -->
    <div class="github-card col-md-5">
      <iframe src="http://lab.lepture.com/github-cards/card.html?user=BoBinLee" frameborder="0" scrolling="0"
              allowtransparency></iframe>
    </div>
  </div>
</div>
<div class="bottom-menu">
  <div ng-repeat="menu in bottomMenus">
    <a href="#" ng-click="onBottomMenuClick($index + 1)">
      <img ng-src="{{ menu.img }}"/>
    </a>
  </div>
</div>
<!--</body>-->
<!--</html>-->
