<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>amCharts examples</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script src="/scripts/chart/amcharts.js"></script>
    <script src="/scripts/chart/serial.js"></script>
    <!-- endbuild -->

    <script type="text/javascript">
        var chartData = [
            {
                "language": "Spring Framework",
                "score": 100,
                "color": "#FF9E01"
            },
            {
                "language": "Android",
                "score": 100,
                "color": "#FF6600"
            },
            {
                "language": "Java",
                "score": 100,
                "color": "#FCD202"
            },
            {
                "language": "Javascript",
                "score": 100,
                "color": "#B0DE09"
            },
            {
                "language": "jQuery",
                "score": 100,
                "color": "#0D8ECF"
            },
            {
                "language": "CSS",
                "score": 100,
                "color": "#0D52D1"
            },
            {
                "language": "DB",
                "score": 100,
                "color": "#CD0D74"
            },
            {
                "language": "Algorithm",
                "score": 100,
                "color": "#04D215"
            },
            {
                "language": "Design Pattern",
                "score": 100,
                "color": "#0D8ECF"
            },
            {
                "language": "Linux",
                "score": 100,
                "color": "#FF6600"
            }
        ];

        AmCharts.ready(function () {
            // SERIAL CHART
            var chart = new AmCharts.AmSerialChart();
            chart.dataProvider = chartData;
            chart.categoryField = "language";
            chart.rotate = true;
            chart.color = "#FFFFFF";
            chart.handDrawn = true;
            chart.handDrawScatter = 4;

            // AXES
            // category
            var categoryAxis = chart.categoryAxis;
            categoryAxis.gridAlpha = 0;
            categoryAxis.axisAlpha = 0;
            categoryAxis.labelsEnabled = false;

            // value
            // in case you don't want to change default settings of value axis,
            // you don't need to create it, as one value axis is created automatically.
            // GRAPH
            var graph = new AmCharts.AmGraph();
            graph.valueField = "score";
            graph.type = "column";
            graph.colorField = "color";
            graph.lineAlpha = 0;
            graph.fillAlphas = 0.5;
            // you can pass any number of colors in array to create more fancy gradients
            graph.fillColors = ["#000000", "#FF6600"];
            graph.gradientOrientation = "horizontal";
            graph.labelPosition = "inside";
            graph.labelText = "[[category]]";
            graph.balloonText = "[[category]]"

            var valueAxis = new AmCharts.ValueAxis();
            valueAxis.maximum = 100;

            chart.addValueAxis(valueAxis);
            chart.addGraph(graph);

            chart.creditsPosition = "bottom-right";
            chart.write("chartdiv");
        });
    </script>
</head>
<style type="text/css">
    #chartdiv {
        height: 500px;
    }
</style>
<body style="background-color: transparent;">
<div id="chartdiv" class="container"></div>
</body>

</html>
