$textColor: #E0F2F1;
$textColor1: #009688;
$backgroundColor: #009688;

* {

}

.menu-box {
  position: fixed;
  width: 100%;
  background-color: $backgroundColor !important;
  opacity: 0.9 !important;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  z-index: 999;
  .menu {
    color: $textColor;
    text-decoration: none;
  }
}
