<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="competition" ng-controller="CompetitionCtrl" ng-init="init()">
    <div class="competition-slider">
        <ul class="slides">
            <li ng-repeat="image in images">
                <a class="box-img" href="/images/competition/{{ image }}" content="{{ $index }}">
                    <img class="img-rounded" ng-src="/images/competition/{{ image }}" alt="image"/>
                </a>
                {{ refresh() }}
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="title">경진대회관리시스템</div>
        <div>팀원 : 이보빈</div>
        <hr>
        <div>사용자 : 성공회대 대학생, 교수, TA</div>
        <div class="preview">개요</div>
        <p>
            대학교에서 매년 교내 경진대회가 열렸다.<br/>
            대회가 개최되고 종료가 되면, 참가했던 팀들의 자료와 소스들을 저장할 곳이 필요하고, 공유 할 곳도 필요하였다.<br/>
            그에 맞는 대회 관리 시스템이 갖추어져 있지가 않아서, 경진대회관리시스템을 만들게 되었다.<br/>
        </p>

        <div class="dev">개발</div>
        <p>
            웹 화면 구현은 AngularJS의 컨트롤러로 웹 화면을 다루기 쉽게 구성하고 부트스크랩을 이용해 반응형 웹으로 만들었다.<br/>
            서버는 스프링 프레임워크를 이용해 컨트롤, 서비스, DAO 단이 원활히 통신이 이루어지게 구성하였다.<br/>
            DB는 처음엔 ER-Win으로 기본적인 사용자, 게시판 설계부터 시작하여 팀, 태그, 첨부자료, 평가자까지 논리, 물리적 설계(MariaDB SQL문 작성)을 하였다.<br/>
        </p>

        <div class="reference">Reference</div>
        <p>
            Client - Bootstrap, AngularJS, LessJS, JQuery <br/>
            Server - Spring Framework, Spring Security, Tiles, MyBatis, JUnit <br/>
            DB - MariaDB
        </p>
    </div>
</div>
</div>
</body>
</html>
