<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="house" ng-controller="HouseCtrl">
    <div class="house-slider">
        <div class="flexslider">
            <ul class="slides">
                <li ng-repeat="image in images">
                    <div class="zoom">
                        {{ refresh($last) }}
                        <img class="img-rounded zoom" src="/images/house/{{ image }}" alt="image"/>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>