<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="house" ng-controller="HouseCtrl" ng-init="init()">
    <div class="house-slider">
        <ul class="slides">
            <li ng-repeat="image in images">
                <a class="box-img" href="/images/house/{{ image }}" content="{{ $index }}">
                    <img class="img-rounded" ng-src="/images/house/{{ image }}" alt="image"/>
                </a>
                {{ refresh() }}
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="title">하우스 - 인테리어 SNS</div>
        <div>팀원 : 기획 ( 김성민 ), 디자인 ( 문석영, 이경훈 ), 개발 ( 이보빈, 박지현, 김소윤, 임주현 )</div>
        <hr>
        <div>사용자 : 여성. 20-30대. 주부/신혼</div>
        <div class="preview">개요</div>
        <p>
            인테리어 시장성과 현재 운영하고 있는 기획자의 인테리어 하우스 블로그의 인원으로 보았을 때,<br/>
            인테리어 추천, 홍보 효과를 효율적으로 하기 위해선 인테리어 SNS 앱이 필요하였다.<br/>
            넥스터즈 동아리에서 하우스 앱을 만들게 되었다.</br>
            카테고리는 인테리어, 수다톡, 마이페이지가 기본적인 구성으로 되어있다.
        </p>

        <div class="dev">개발 - 서버, DB 개발, 안드로이드 (일부) 개발</div>
        <p>
            앱 서버는 Open API 규격에 맞추어 안드로이드 앱과 데이터 통신을 개발하였다.<br/>
            유저 관리는 모바일 유저에 대한 토큰을 주어 그 토큰으로 로그인 관리하도록 하였다.<br/>
            DB 단은 인테리어 게시물을 저장할 게시판 DB와 사용자 DB를 만들고, 스크랩, 좋아요 기능에 대한 DB를 설계하였다.<br/>
            안드로이드에서 앱 서버와 송수신할 때, http통신을 json 형태로 데이터를 전송하고 View로 데이터를 보여주는 역할을 하였다.
        </p>

        <div class="reference">Reference</div>
        <p>
            Android - Spring-Android-REST-Template, Universal-image-loader, imageSilder, Kakao, Facebook Open API,
            Jackson JSON, Joda time<br/>
            Server - JBoss, Spring Framework, MyBatis, PostgreSQL, JUnit, Jackson JSON, Joda time
        </p>
    </div>
</div>
</body>
</html>
