<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="skhualarm" ng-controller="SkhuAlarmCtrl">
    <div class="skhualarm-slider">
        <ul class="slides">
            <li ng-repeat="image in images">
                <a class="box-img" href="/images/skhualarm/{{ image }}" content="{{ $index }}">
                    <img class="img-rounded" src="/images/skhualarm/{{ image }}" alt="image"/>
                </a>
                {{ refresh() }}
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="title">성공회 알리미</div>
        <div>팀원 : 이보빈</div>
        <hr>
        <div>사용자 : 성공회대 사람들</div>
        <div class="preview">개요</div>
        <p>
            만들게 된 계기는 14년 여름방학 때이다.<br/>
            수강 신정 기간이 다가오는 날이 되자, 학교 홈페이지에 들어가게 되었는 데, 공고가 아직 안 올라왔었다.<br/>
            그 다음 날에도 들어갔는 데 올라와있지 않은 것이다.<br/>
            하루에 한번씩 공지사항이 올라올 때까지 들어가게 되었는 데, 저는 그때 불필요한 행동을 게시물이 올라올때까지하고 있었음을 깨닫게 되었다.<br/>
            생각을 바꿔 내가 학교 홈페이지에 들어가서 보는 것 보단 게시물이 왔다는 것을 알리는 형식이 낫지 않을까? 라는 생각에 성공회대학교 알리미를 만들게 되었다.
        </p>

        <div class="dev">개발</div>
        <p>
            안드로이드 : 화면 설계, GCM 설정, 데이터 송수신 설정을 만들었고, 화면 구현까지 맡아서 하였다.<br/>
            서버 : 스레드를 통한 주기적인 업데이트 설정, 안드로이드와 통신하기 위한 전문 명세서 작성과 통신 단을 구현하였다.<br/>
            JSOUP API를 이용해 성공회대학교 페이지의 중요한 부분만 추출하여 DB에다 저장하고 알림이 왔다는 것(GCM Server)을 알려주는 것 또한 개발을 하였다.
        </p>

        <div class="reference">Reference</div>
        <p>
            Android - Android Pull To Refresh, Android ViewPagerIndicator, HTTP ( Android-Async-Http ), Image Processor
            ( Picasso ), Facebook Graph API, Json ( Gson ), Time ( Joda Time ), GCM<br/>
            Server - Spring Framework, MyBatis, HTML Parser ( Jsoup ), Json ( Jackson JSON Processor ), Multi Thread (
            Quartz Framework ), Time ( Joda Time ), Test ( JUnit ), GCM Server
        </p>
    </div>
</div>
</body>
</html>