<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="skhualarm" ng-controller="SkhuAlarmCtrl">
    <div class="skhualarm-slider">
        <div class="flexslider">
            <ul class="slides">
                <li ng-repeat="image in images">
                    <div class="zoom">
                        {{ refresh($last) }}
                        <a class="box-img" href="/images/skhualarm/{{ image }}" content="{{ $index }}">
                            <img class="img-rounded" src="/images/skhualarm/{{ image }}" alt="image"/>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>