<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="skhucalc" ng-controller="SkhucalcCtrl" ng-init="init()">
    <div class="skhucalc-slider">
        <ul class="slides">
            <li ng-repeat="image in images">
                <a class="box-img" href="/images/skhucalc/{{ image }}" content="{{ $index }}">
                    <img class="img-rounded" ng-src="/images/skhucalc/{{ image }}" alt="image"/>
                </a>
                {{ refresh() }}
            </li>
        </ul>
    </div>
    <div class="content">
        <div class="title">입학 상담 앱</div>
        <div>팀원 : 이진수, 이보빈</div>
        <hr>
        <div>사용자 : 예비 신입생, 교수</div>
        <div class="preview">개요</div>
        <p>
            예비 신입생 대상으로 성공회대학교에 들어갈 수 있는 지 성적을 계산하는 앱이다. </br>
            학교에선 신입생 데이터에 대한 수집, 계산, 추출하는 어플리케이션이 필요하였고, </br>
            요구사항에 맞추어 학교입학 상담 어플을 만들게 되었다.
        </p>
        <div class="dev">개발</div>
        <p>
            하이브리드 앱으로 웹부분과 안드로이드 부분으로 나누어져 있다. <br/>
            웹은 Jquery Mobile을 이용하여 UI단을 개발하게 되었고, <br/>
            웹뷰와 안드로이드 간 인터페이스를 통해 통신을 하여 안드로이드가 SQLite Database를 이용하여 <br/>
            수집한 데이터를 저장하는 방식이다. <br/>
            신입생에 대한 정보를 수집한 후에 메일을 통해 DB에 있던 내용들을 추출하게 된다. <br/>
        </p>
        <div class="reference">Reference</div>
        <p>
            Client - JQuery Mobile, JSON3, Jackson JSON Processor <br/>
            DB - SQLite
        </p>
    </div>
</div>
</body>
</html>
