<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="softhome" ng-controller="SoftHomeCtrl">
    <div class="softhome-tag">학과 홈페이지</div>
    <hr>
    <div class="softhome-slider">
        <div class="flexslider">
            <ul class="slides">
                <li ng-repeat="img in images">
                    <div class="zoom">
                        {{ refresh($last) }}
                        <img class="img-rounded zoom" src="/images/softhome/{{ img }}" alt="image"/>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>