.competition {

}

.competition-slider {
    width: 100%;
    margin: 0 auto;
}

.competition-slider img {
    height: auto;
}

.content {
    font-size: 16px;
    color: #fff;
    line-height: 25px;
}

.content p {
   padding-left: 10px;
}

.title, .preview, .dev, .reference {
    font-size: 16px;
    color: #69f2ff;
    margin: 10px 0;
}