
.blog {
  padding-top: 60px;
  .blog-card {
    margin: 10px 0;
  }

  .blog-title {
    font-size: 24px;
    text-decoration: none;
    color: #1756a9;
    text-align: left;
  }
  .blog-date {
    font-size: 14px;
    color: #828282;
  }
  .blog-more-button {
    display: block !important;
    width: 400px;
    margin: 20px auto;
  }
}
