.blog-card {
  margin: 10px 0;

  .blog-title {
    font-size: 24px;
    text-decoration: none;
    color: #009688;
    text-align: left;
  }

  .blog-date {
    font-size: 14px;
    color: #828282;
  }

  .blog-card-content {
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: auto;
    max-height: 1400px;
    transition: max-height 800ms ease-in-out 0ms;
  }

  .blog-card-show {
    height: auto;
    transition: height 1s ease-in;
  }

  .blog-card-hidden {
    height: 0;
    transition: height 1s ease-out;
  }
}

